.home {
   background-color: rgb(251, 250, 255);
}

.banner {
   min-height: 90vh;
   background: linear-gradient(135deg, rgb(27, 3, 48) 20%, rgb(27, 3, 48) 20%, rgb(27, 3, 48) 20%, rgb(139, 49, 204) 95%, rgb(137, 45, 203) 98%);
}

.banner .banner-content {
   padding-top: 75px;
}

.banner h3 {
   font-size: 26px;
   font-family: 'Segoe UI', Verdana;
   font-weight: 400;
   letter-spacing: .5px;
   color: #fff;
}

.banner h3 span {
   background: linear-gradient(to right, #8C52FF, #fff, #fff);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}

.banner h2 {
   color: #fff;
   font-size: 35px;
   font-family: 'Segoe UI', Verdana;
   font-weight: 600;
   letter-spacing: 1px;
   margin-top: 10px;
   line-height: 35px;
}

.banner p {
   font-size: 18px;
   font-family: 'Segoe UI', Verdana;
   font-weight: 400;
   color: rgb(30, 16, 56);
   color: #fff;
   margin-top: 10px;
   line-height: 25px;
}

.banner .submit-button {
   height: 50px;
   width: 75%;
   background-color: #fff;
   color: #382066;
   font-size: 16px;
   font-weight: 500;
   box-shadow: none !important;
   margin-top: 25px;
   text-align: center;
   border-radius: 8px;
}

.banner .img-section {
   padding: 0px 0 0 0px;
}

.banner .img-section .img-section-row {
   width: 100%;
   height: auto;
   background-color: transparent;
   border-radius: 50%;
   padding-bottom: 75px;
}

.banner .img-section img {
   width: 100%;
   height: 100%;
   margin-top: 6vh;
   margin-left: 3%;
}

.box div {
   position: absolute;
   width: 30px;
   height: 30px;
   background-color: transparent;
   border: 2px solid rgb(242, 231, 255);
}

.box div:nth-child(1) {
   top: 12%;
   left: 42%;
   animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
   top: 70%;
   left: 50%;
   animation: animate 18s linear infinite;
}

.box div:nth-child(3) {
   top: 17%;
   left: 6%;
   animation: animate 16s linear infinite;
}

.box div:nth-child(4) {
   top: 20%;
   left: 60%;
   animation: animate 12s linear infinite;
}

.box div:nth-child(5) {
   top: 67%;
   left: 10%;
   animation: animate 16s linear infinite;
}

.box div:nth-child(6) {
   top: 80%;
   left: 70%;
   animation: animate 10s linear infinite;
}

.box div:nth-child(7) {
   top: 60%;
   left: 80%;
   animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
   top: 32%;
   left: 25%;
   animation: animate 18s linear infinite;
}

.box div:nth-child(9) {
   top: 90%;
   left: 25%;
   animation: animate 12s linear infinite;
}

.box div:nth-child(10) {
   top: 20%;
   left: 80%;
   animation: animate 15s linear infinite;
}

@keyframes animate {
   0% {
      transform: scale(0) translateY(0) rotate(0);
      opacity: 1;
   }

   100% {
      transform: scale(1.3) translateY(-60px) rotate(360deg);
      opacity: 0;
   }
}

.customer-section {
   background: linear-gradient(to right, rgb(203, 193, 255), rgb(234, 230, 255));
   /* background-size: .5px .5px;  */
   padding-top: 55px;
   padding-bottom: 55px;
}

.customer-section h3 {
   font-family: 'Segoe UI', Verdana;
   color: #382066;
   font-size: 28px;
   font-weight: 400;
   letter-spacing: .5px;
   text-align: center;
   margin-top: 20px;
}

.customer-section h2 {
   font-family: 'Segoe UI', Verdana;
   font-size: 32px;
   font-weight: 700;
   color: #382066;
   letter-spacing: .5px;
   text-align: center;
   margin-top: 20px;
}

.customer-section p {
   font-family: 'Segoe UI', Verdana;
   color: #77779f;
   font-size: 16px;
   font-weight: 500;
   letter-spacing: .5px;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 50px;
}

.customer-section .container-fluid {
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.topper-card {
   width: 115px;
   height: 115px;
   background-color: #f0eeff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   border: 1px solid #fcfcfc;
   border-radius: 50%;
}

.topper-card img {
   width: 50% !important;
   height: 50% !important;
   text-align: center;
   align-items: center;
}

.topper-card h3 {
   color: #382066;
   font-size: 16px;
   font-weight: 500;
   margin-top: 20px;

}

.why-choose-us-section {
   min-height: auto;
   background-color: #fff;
   padding-top: 75px !important;
}

.why-choose-us-section .title {
   text-align: center;
}

.why-choose-us-section .title h3 {
   color: #2f2c5e;
   font-family: 'Segoe UI', Verdana;
   font-size: 24px;
   font-weight: 600;
   letter-spacing: .35px;
}
.why-choose-us-section .schooliya-chart{
   height: 50px;
   margin-top: 30px;
}
.why-choose-us-section .schooliya-chart img{
   width: 110%;
   margin-top: 10px;
}
.why-choose-us-section .others-chart .mat-icon{
   color: #2f2c5e;font-size: 20px;margin-top: 8px;
}
.why-choose-us-section .others-chart{
   height: 50px;
}

.why-choose-us-section .schooliya{
   background-color:#9231f2;width: 100%;height: 40px;border-radius: 8px;
}
.why-choose-us-section .others{
   background-color:rgba(183, 183, 198, 0.708);width: 100%;height: 40px;border-radius: 8px;
}
.why-choose-us-section .schooliya-chart p{
   color: #2f2c5e;
   font-size: 12px;
   margin-top: 10px;
}
.why-choose-us-section .others-chart p{
   color: #2f2c5e;
   font-size: 12px;
   margin-top: 8px;
}

.pricing-section {
   min-height: 550px;
   background-color: #fff;
   padding-bottom: 0 !important;

}
.pricing-card-container {
   padding-left: 20px;
   padding-right: 20px;
}
.pricing-section .title {
   text-align: center;
   padding-top: 50px;
   padding-bottom: 40px;
}

.pricing-section .title h2 {
   font-family: 'Segoe UI', Verdana;
   font-size: 24px;
   font-weight: 600;
   color: #382066;
   letter-spacing: .35px;
   line-height: 40px;
}

.pricing-card {
   width: 100%;
   height: auto;
   padding: 60px 30px 30px 30px;
   border-radius: 20px;
   border: 1px solid #d0d0ef;
   margin-bottom: 30px;
}

.border {
   border: 2px solid #9a34fff9 !important;
}

.pricing-card h2 {
   color: #382066;
   text-align: center;
   font-family: 'Segoe UI', Verdana;
   font-size: 25px;
   font-weight: 700;
   letter-spacing: .75px;
}

.pricing-card .pricing-title {
   min-height: 110px;
}

.pricing-card p {
   color: #382066;
   text-align: center;
   font-family: 'Segoe UI', Verdana;
   font-size: 15px;
   font-weight: 400;
}

.pricing-card h3 {
   color: #382066;
   text-align: center;
   font-family: 'Segoe UI', Verdana;
   font-size: 35px;
   font-weight: 700;
   letter-spacing: .75px;
}

.pricing-button {
   height: 52px;
   width: 100%;
   background: #9231f2;
   font-size: 16px;
   font-weight: 500;
   color: #FFF;
   box-shadow: none !important;
   margin-top: 20px;
   padding-left: 85px;
   padding-right: 85px;
   text-align: center;
   border-radius: 8px;
}

.pricing-button-light {
   height: 52px;
   width: 100%;
   background-color: #fff;
   font-size: 16px;
   font-weight: 500;
   color: #9231f2;
   box-shadow: none !important;
   margin-top: 20px;
   padding-left: 85px;
   padding-right: 85px;
   text-align: center;
   border: 2px solid #9a34fff9;
   border-radius: 8px;
}

.pricing-card .pricing-amount p {
   margin-top: 15px;
   margin-bottom: 25px;
   color: #392066dd;
}

.mat-divider {
   background-color: #ddddf8;
   height: 1px;

}

.pricing-feature {
   padding-top: 20px;
}

.pricing-feature h3 {
   font-size: 18px;
   font-weight: 700;
   text-align: left;
   margin-top: 20px;
}

.pricing-feature .done {
   color: #43d47d;
   font-size: 20px;
   margin-right: 15px;
}

.pricing-feature p {
   font-size: .85rem;
   font-weight: 700;
   text-align: left;
}

.pricing-feature span {
   font-size: .85rem;
   font-weight: 600;
   text-align: left;
   /* margin-top: 20px; */
}


.service-section {
   background: #fff;
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.service-section .title {
   text-align: center;
   padding-top: 50px;
   padding-bottom: 40px;
}

.service-section .title h2 {
   font-family: 'Segoe UI', Verdana;
   font-size: 24px;
   font-weight: 600;
   color: #382066;
   letter-spacing: .35px;
   line-height: 40px;
}

.service-section .img-section {
   height: 50px;
   background: rgb(27, 3, 48);
   background: linear-gradient(45deg, rgb(77, 20, 126) 20%, rgb(139, 49, 204) 95%, rgb(147, 53, 214) 98%);
   border-radius: 0 25px 25px 0;
   margin-top: 20px;
   padding-top: 10px;
}

.service-section .img-section h3{
   color: #fff;font-size: 20px;font-weight: 500;margin-left: 10px;
}
.service-section .img-section p {
   display: none;
}

.service-section .img-section img{
   display: none;
}
.service-section .service-card-container{
   margin-top: 75px;padding-right: 0px;
   /* rgb(241, 230, 255) */
}
.service-card {
   background: linear-gradient(315deg,rgb(238, 230, 255) , rgb(254, 253, 255),rgb(254, 253, 255));
   width: 100%;
   height: 175px;
   text-align: left;
   margin-bottom: 30px;
   border-radius: 20px;
   padding: 20px;
   border: 1px solid #e3dfea;
}

.service-card .mat-icon {
   color: #9231f2;
}

.service-card h3 {
   color: #000;
   font-size: 16px;
   font-weight: 500;
   margin-left: 20px;
}

.service-card p {
   color: #000;
   font-size: 16px;
   font-weight: 400;
   margin-top: 5px !important;
}





@media (min-width: 992px) {
   .banner {
      min-height: 90vh;
   }

   .banner .banner-content {
      padding-top: 100px;
   }

   .banner h3 {
      font-size: 28px;
      font-family: 'Segoe UI', Verdana;
      font-weight: 400;
      letter-spacing: .5px;
      color: #fff;
   }

   .banner h3 span {
      background: linear-gradient(to right, #8C52FF, #fff, #fff);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
   }

   .banner h2 {
      color: #fff;
      font-size: 40px;
      font-family: 'Segoe UI', Verdana;
      font-weight: 600;
      letter-spacing: 1px;
      margin-top: 25px;
      line-height: 50px;
   }

   .banner p {
      font-size: 20px;
      font-family: 'Segoe UI', Verdana;
      font-weight: 400;
      color: rgb(30, 16, 56);
      color: #fff;
      margin-top: 25px;
      line-height: 30px;
   }


   .banner .img-section {
      padding: 100px 0 0 120px;
   }

   .banner .img-section .img-section-row {
      width: 410px;
      height: 410px;
      background-color: transparent;
      border-radius: 50%;
   }

   .banner .img-section img {
      width: 100%;
      height: 85%;
      margin-top: 5vh;
      margin-left: 10%;
   }

   .banner .submit-button {
      height: 52px;
      width: 50%;
      background-color: #fff;
      font-size: 16px;
      font-weight: 500;
      box-shadow: none !important;
      margin-top: 30px;
      text-align: center;
      border-radius: 8px;
   }
   .why-choose-us-section .title{
      text-align: left;
   }
   .why-choose-us-section .title h3 {
      color: #2f2c5e;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: .35px;
   }
   .why-choose-us-section .schooliya-chart{
      height: 45px;
      margin-top: 25px;
   }
   .why-choose-us-section .schooliya-chart img{
      width: 100%;
      margin-top: 0;
   }
   .why-choose-us-section .others-chart{
      height: 45px;margin-top: 15px;
   }
   
   .why-choose-us-section .schooliya{
      background-color:#9231f2;width: 100%;height: 40px;border-radius: 8px;
   }
   .why-choose-us-section .others{
      background-color:rgba(183, 183, 198, 0.708);width: 100%;height: 40px;border-radius: 8px;
   }
   .why-choose-us-section .schooliya-chart p{
      color: #2f2c5e;
      font-size: 16px;
      margin-top: 8px;
   }
   .why-choose-us-section .others-chart p{
      color: #2f2c5e;
      font-size: 16px;
      margin-top: 8px;
   }

   






   .pricing-section {
      background-color: #fff;
      min-height: 550px;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 75px !important;
   
   }
   .pricing-section .title {
      text-align: center;
      padding-top: 75px;
      padding-bottom: 60px;
   }
   
   .pricing-section .title h2 {
      font-family: 'Segoe UI', Verdana;
      font-size: 40px;
      font-weight: 600;
      color: #382066;
      letter-spacing: .5px;
      line-height: 40px;
   }
   
   .pricing-card-container {
      padding-left: 20px;
      padding-right: 20px;
   }

   .pricing-card {
      width: 100%;
      height: auto;
      padding: 60px 30px 30px 30px;
      border-radius: 20px;
      border: 1px solid #d0d0ef;
   }

   .border {
      border: 2px solid #9a34fff9 !important;
   }

   .pricing-card h2 {
      color: #382066;
      text-align: center;
      font-family: 'Segoe UI', Verdana;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: .75px;
   }

   .pricing-card .pricing-title {
      min-height: 110px;
   }
   .pricing-section .title h2 {
      font-family: 'Segoe UI', Verdana;
      font-size: 40px;
      font-weight: 600;
      color: #382066;
      letter-spacing: .5px;
      line-height: 40px;
   }
   .pricing-card p {
      color: #382066;
      text-align: center;
      font-family: 'Segoe UI', Verdana;
      font-size: 15px;
      font-weight: 400;
   }

   .pricing-card h3 {
      color: #382066;
      text-align: center;
      font-family: 'Segoe UI', Verdana;
      font-size: 35px;
      font-weight: 700;
      letter-spacing: .75px;
   }

   .pricing-button {
      height: 52px;
      width: 100%;
      background: #9231f2;
      font-size: 16px;
      font-weight: 500;
      color: #FFF;
      box-shadow: none !important;
      margin-top: 20px;
      padding-left: 85px;
      padding-right: 85px;
      text-align: center;
      border-radius: 8px;
   }

   .pricing-button-light {
      height: 52px;
      width: 100%;
      background-color: #fff;
      font-size: 16px;
      font-weight: 500;
      color: #9231f2;
      box-shadow: none !important;
      margin-top: 20px;
      padding-left: 85px;
      padding-right: 85px;
      text-align: center;
      border: 2px solid #9a34fff9;
      border-radius: 8px;
   }

   .pricing-card .pricing-amount p {
      margin-top: 15px;
      margin-bottom: 25px;
      color: #392066dd;
   }

   .mat-divider {
      background-color: #ddddf8;
      height: 1px;

   }

   .pricing-feature {
      padding-top: 20px;
   }

   .pricing-feature h3 {
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      margin-top: 20px;
   }

   .pricing-feature .done {
      color: #43d47d;
      font-size: 20px;
      margin-right: 15px;
   }

   .pricing-feature p {
      font-size: .85rem;
      font-weight: 700;
      text-align: left;
   }

   .pricing-feature span {
      font-size: .85rem;
      font-weight: 600;
      text-align: left;
      /* margin-top: 20px; */
   }

   .customer-section {
      background: linear-gradient(to right, rgb(203, 193, 255), rgb(234, 230, 255));
      /* background-size: .5px .5px;  */
      padding-top: 55px;
      padding-bottom: 55px;
   }

   .customer-section h3 {
      font-family: 'Segoe UI', Verdana;
      color: #382066;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: .5px;
      text-align: center;
      margin-top: 20px;
   }

   .customer-section h2 {
      font-family: 'Segoe UI', Verdana;
      font-size: 32px;
      font-weight: 700;
      color: #382066;
      letter-spacing: .5px;
      text-align: center;
      margin-top: 20px;
   }

   .customer-section p {
      font-family: 'Segoe UI', Verdana;
      color: #77779f;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .5px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 50px;
   }

   .customer-section .container-fluid {
      padding-left: 25px !important;
      padding-right: 25px !important;
   }

   .topper-card {
      width: 150px;
      height: 150px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid #fff;
      border-radius: 50%;
   }

   .topper-card img {
      width: 50% !important;
      height: 50% !important;
      text-align: center;
      align-items: center;
   }

   .topper-card h3 {
      color: #382066;
      font-size: 16px;
      font-weight: 500;
      margin-top: 20px;

   }

   .service-section {
      background: #fff;
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 75px;
   }
   .service-section .title {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 50px;
   }
   
   .service-section .title h2 {
      font-family: 'Segoe UI', Verdana;
      font-size: 40px;
      font-weight: 600;
      color: #382066;
      letter-spacing: .5px;
      line-height: 40px;
   }

   .service-section .img-section {
      height: 500px;
      background: rgb(27, 3, 48);
      background: linear-gradient(315deg, rgb(27, 3, 48) 20%, rgb(27, 3, 48) 20%, rgb(27, 3, 48) 20%, rgb(139, 49, 204) 95%, rgb(137, 45, 203) 98%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      border-radius: 0;
      margin-top: 20px;
      padding-top: 0px;
   }

   .service-section .img-section h3{
    color: #fff;font-size: 30px;font-weight: 500;line-height: 100px;margin-left: 50px;
   }
   .service-section .img-section p {
      display: block;color: #fff;font-family: 'Segoe UI', Verdana;font-size: 16px;font-weight: 400;line-height: 20px;margin-left: 50px;margin-top: -30px;
   }

   .service-section .img-section img{
      display: block;width: 70%;height: 70%;margin-left: 50px;margin-top: 50px;
   }
   .service-section .service-card-container{
      margin-top: 15px;padding-right: 50px;
   }
   .service-card {
      width: 100%;
      height: 20vh;
      text-align: left;
      margin-bottom: 30px;
      border-radius: 20px;
      padding: 20px;
   }

   .service-card .mat-icon {
      color: #9231f2;
   }

   .service-card h3 {
      color: #000;
      font-size: 16px;
      font-weight: 500;
      margin-left: 20px;
   }

   .service-card p {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      margin-top: 5px !important;
   }



}