<app-header></app-header>
<div class="home">
    <div class="banner">
        <div class="container-fluid">
            <div class="box">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-1">
                    <div class="row" style="padding-top: 100px;">
                        <h3>
                            <span>School Online ERP Software Start Only &#8377;
                                {{plansInfo[0]?.price}}</span>
                        </h3>
                        <h2>
                            School Online ERP Software is Very Useful Software
                        </h2>
                        <p>
                            This software provide to all your schools offline services like admission,fee
                            Module,results
                            or admit card Module etc use in online This software provide to all your schools offline
                            services like admission,fee managment,results or admit card managment etc use in online
                        </p>
                        <div class="col-6">
                            <button class="submit-button" mat-raised-button>Get Demo</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 img-section">
                    <div class="row img-section-row">
                        <img src="../../../../assets/home-desktop.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding: 0 !important;">
        <div class="container-fluid pricing-section"
            style="padding-left: 100px !important;padding-right: 100px !important;">
            <div class="row">
                <div class="col-12 col-lg-12 offset-lg-0">
                    <div class="col-12 col-lg-12 offset-lg-0">
                        <div class="row title">
                            <h2>Pick Your Perfect Plan</h2>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4 pricing-card-container">
                                <div class="pricing-card">
                                    <div class="pricing-title">
                                        <h2>{{plansInfo[0]?.plans}}</h2>
                                        <p>Everything you need to create your website</p>
                                    </div>
                                    <h3><span style="font-size:22px;font-weight: 500;">&#8377;</span>
                                        {{plansInfo[0]?.price}}<span style="font-size: medium;font-weight: 500;"> /
                                            Yearly</span></h3>
                                    <button class="pricing-button-light" mat-raised-button
                                        routerLink="/admin/payment/{{plansInfo[0]?._id}}">Buy Now</button>
                                    <div class="pricing-amount">
                                        <p>₹ {{plansInfo[0]?.price}}/year when you renew</p>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div class="pricing-feature">
                                        <p>Student Limit<span>&nbsp;&nbsp;(Upto 300)</span></p>
                                        <p>Data Entry<span>&nbsp;&nbsp;No</span></p>
                                        <p>Staff Uses Access<span>&nbsp;&nbsp;No</span></p>
                                        <div class="row">
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Student Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Admission Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Fees Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Admit Card Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Marksheet Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>T C Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Classes Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Subject Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Class Subjects Group Management</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 pricing-card-container">
                                <div class="pricing-card border">
                                    <div class="pricing-title">
                                        <h2>{{plansInfo[1]?.plans}}</h2>
                                        <p>Level-up with more power and enhanced features</p>
                                    </div>
                                    <h3><span style="font-size:20px;font-weight: 500;">&#8377;</span>
                                        {{plansInfo[1]?.price}}<span style="font-size: medium;font-weight: 500;"> /
                                            Yearly</span></h3>
                                    <button class="pricing-button" mat-raised-button
                                        routerLink="/admin/payment/{{plansInfo[1]?._id}}">Buy Now</button>
                                    <div class="pricing-amount">
                                        <p>₹ {{plansInfo[1]?.price}}/year when you renew</p>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div class="pricing-feature">
                                        <p>Student Limit<span>&nbsp;&nbsp;(Upto 500)</span></p>
                                        <p>Data Entry<span>&nbsp;&nbsp;Free For First Entry</span></p>
                                        <p>
                                        <p>Staff Uses Access<span>&nbsp;&nbsp;Yes</span></p>
                                        <div class="row">
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Student Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Admission Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Fees Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Admit Card Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Marksheet Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>T C Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Classes Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Subject Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Class Subjects Group Management</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 pricing-card-container">
                                <div class="pricing-card">
                                    <div class="pricing-title">
                                        <h2>{{plansInfo[2]?.plans}}</h2>
                                        <p>Enjoy optimised performance & guaranteed resources</p>
                                    </div>
                                    <h3><span style="font-size:22px;font-weight: 500;">&#8377;</span>
                                        {{plansInfo[2]?.price}}<span style="font-size: medium;font-weight: 500;"> /
                                            Yearly</span></h3>
                                    <button class="pricing-button-light" mat-raised-button
                                        routerLink="/admin/payment/{{plansInfo[2]?._id}}">Buy Now</button>
                                    <div class="pricing-amount">
                                        <p>₹ {{plansInfo[2]?.price}}/year when you renew</p>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div class="pricing-feature">
                                        <p>Student Limit<span>&nbsp;&nbsp;(Upto 1000)</span></p>
                                        <p>Data Entry<span>&nbsp;&nbsp;Free For First Entry</span></p>
                                        <p>
                                        <p>Staff Uses Access<span>&nbsp;&nbsp;Yes</span></p>
                                        <div class="row">
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Student Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Admission Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Fees Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Admit Card Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Marksheet Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>T C Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Classes Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Subject Management</span></p>
                                            </div>
                                            <div class="col-1"><mat-icon class="done">done</mat-icon></div>
                                            <div class="col-11">
                                                <p><span>Class Subjects Group Management</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid service-section">
        <div class="row">
            <div class="col-12 col-lg-12 offset-lg-0">
                <div class="row">
                    <div class="col-6 offset-lg-3">
                        <div class="title">
                            <h2>Full stack technology platform</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="row">
                            <div class="col-12 col-lg-11">
                                <div class="img-section">
                                    <div class="col-12 col-lg-11">
                                        <h3
                                            style="color: #fff;font-size: 30px;font-weight: 500;line-height: 100px;margin-left: 50px;">
                                            Accept Payments</h3>
                                        <p
                                            style="color: #fff;font-family: 'Segoe UI', Verdana;font-size: 16px;font-weight: 400;line-height: 20px;margin-left: 50px;margin-top: -30px;">
                                            Start accepting online payments from your customers through multiple payment
                                            modes and reconcile automatically.</p>
                                        <img src="../../../../assets/modules-img.png" alt=""
                                            style="width: 70%;height: 70%;margin-left: 50px;margin-top: 50px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8" style="margin-top: 75px;padding-right: 50px;">
                        <div class="row">
                            <div class="col-4 service-card-container">
                                <div class="service-card">
                                    <div class="row">
                                        <div class="col-lg-1"><mat-icon>dashboard</mat-icon>
                                        </div>
                                        <div class="col-lg-11">
                                            <h3>Student Management</h3>
                                        </div>
                                    </div>
                                    <p>Accept payments with simple API integration and offer 100+ payment options to
                                        your customers</p>
                                </div>
                            </div>
                            <div class="col-4 service-card-container">
                                <div class="service-card">
                                    <div class="row">
                                        <div class="col-lg-1"><mat-icon>dashboard</mat-icon>
                                        </div>
                                        <div class="col-lg-11">
                                            <h3>Admission Management</h3>
                                        </div>
                                    </div>
                                    <p>Instantly accept payments via links without the need of having a website or an
                                        app</p>
                                </div>
                            </div>
                            <div class="col-4 service-card-container">
                                <div class="service-card">
                                    <div class="row">
                                        <div class="col-lg-1"><mat-icon>dashboard</mat-icon>
                                        </div>
                                        <div class="col-lg-11">
                                            <h3>Fees Management</h3>
                                        </div>
                                    </div>
                                    <p>Automatically split incoming payments to multiple accounts & settle funds to
                                        vendors</p>
                                </div>
                            </div>
                            <div class="col-4 service-card-container">
                                <div class="service-card">
                                    <div class="row">
                                        <div class="col-lg-1"><mat-icon>dashboard</mat-icon>
                                        </div>
                                        <div class="col-lg-11">
                                            <h3>Admit Card Management</h3>
                                        </div>
                                    </div>
                                    <p>Accept payments conveniently using UPI QR & Payment links via mobile app</p>
                                </div>
                            </div>
                            <div class="col-4 service-card-container">
                                <div class="service-card">
                                    <div class="row">
                                        <div class="col-lg-1"><mat-icon>dashboard</mat-icon>
                                        </div>
                                        <div class="col-lg-11">
                                            <h3>Marksheet Management</h3>
                                        </div>
                                    </div>
                                    <p>Instantly accept payments via links without the need of having a website or an
                                        app</p>
                                </div>
                            </div>
                            <div class="col-4 service-card-container">
                                <div class="service-card">
                                    <div class="row">
                                        <div class="col-lg-1"><mat-icon>dashboard</mat-icon>
                                        </div>
                                        <div class="col-lg-11">
                                            <h3>T C Management</h3>
                                        </div>
                                    </div>
                                    <p>Automatically split incoming payments to multiple accounts & settle funds to
                                        vendors</p>
                                </div>
                            </div>
                            <div class="col-4 service-card-container">
                                <div class="service-card">
                                    <div class="row">
                                        <div class="col-lg-1"><mat-icon>dashboard</mat-icon>
                                        </div>
                                        <div class="col-lg-11">
                                            <h3>Classes Management</h3>
                                        </div>
                                    </div>
                                    <p>Accept payments conveniently using UPI QR & Payment links via mobile app</p>
                                </div>
                            </div>
                            <div class="col-4 service-card-container">
                                <div class="service-card">
                                    <div class="row">
                                        <div class="col-lg-1"><mat-icon>dashboard</mat-icon>
                                        </div>
                                        <div class="col-lg-11">
                                            <h3>Subject Management</h3>
                                        </div>
                                    </div>
                                    <p>Instantly accept payments via links without the need of having a website or an
                                        app</p>
                                </div>
                            </div>
                            <div class="col-4 service-card-container">
                                <div class="service-card">
                                    <div class="row">
                                        <div class="col-lg-1"><mat-icon>dashboard</mat-icon>
                                        </div>
                                        <div class="col-lg-11">
                                            <h3>Saff Access Management</h3>
                                        </div>
                                    </div>
                                    <p>Automatically split incoming payments to multiple accounts & settle funds to
                                        vendors</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    














<!-- <div class="container-fluid customer-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel topper-carousel">

                        <div class="topper-card" matRipple>
                            <img src="../../../../assets/zoschool-logo.png" alt="">
                        </div>

                        <div class="topper-card" matRipple>
                            <img src="../../../../assets/dngurukul-logo.png" alt="">
                        </div>
                        <div class="topper-card" matRipple>
                            <img src="../../../../assets/school.png" alt="">
                        </div>
                        <div class="topper-card" matRipple>
                            <img src="../../../../assets/school.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <app-footer></app-footer>
</div>

<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>