.page {
    background-color: rgb(251, 250, 255);
}

.banner {
    min-height: 25vh;
    background: linear-gradient(135deg, rgb(39, 6, 67) 20%, rgb(39, 6, 67) 20%, rgb(139, 49, 204) 95%, rgb(137, 45, 203) 98%);
    padding-top: 80px;
}
.banner h2{
    color: #fff;font-size: 25px;font-weight: 600;text-align: center;letter-spacing: 1px;line-height: 25px;
}
.policy-container{
    margin-top:3vh;margin-bottom: 5vh;
}
.policy-container .title h3{
    font-size:22px;text-align: center;font-weight: 600;letter-spacing: 1px;
}
.policy-container .content-container{
    padding: 10px;
    display: inline-block;
}
.policy-container .content-container .icon-container{
    margin-right: 0 !important;padding-right: 0px !important;color: #9231f2;
}
.policy-container .content-container .icon-container .mat-icon{
    color: #9231f2;
    font-size: 20px;
    margin-top: 2px;
}
.policy-container .content-container .heading-container{
    margin-left: 0 !important;padding-left: 0px !important;
}
.policy-container .content-container .heading-container h3{
    font-size:18px;text-align: left;font-weight: 500;letter-spacing: 1px;margin-left: 5px;
}
.policy-container .content-container .heading-container p{
    margin-left: 5px;margin-bottom: 25px;
}

@media (min-width: 992px) {
    .banner {
        min-height: 45vh;
        /* background: linear-gradient(135deg, rgb(3, 48, 47) 20%, rgb(3, 48, 47) 20%, rgb(3, 48, 47) 20%, rgb(49, 204, 176) 95%, rgb(49, 204, 176) 98%); */
        background: linear-gradient(135deg, rgb(39, 6, 67) 20%, rgb(39, 6, 67) 20%, rgb(139, 49, 204) 95%, rgb(137, 45, 203) 98%);
        padding-top: 125px;
    }
    .banner h2{
        color: #fff;font-size: 35px;font-weight: 600;text-align: center;letter-spacing: 1px;line-height: 45px;
    }
    .policy-container{
        margin-top:5vh;margin-bottom: 5vh;
    }
    .policy-container .title h3{
        font-size:28px;text-align: center;font-weight: 600;letter-spacing: 1px;
    }
    .policy-container .content-container{
        padding: 50px;
        display: inline-block;
    }
    .policy-container .content-container .icon-container{
        margin-right: 0 !important;padding-right: 0 !important;color: #9231f2;
    }
    .policy-container .content-container .icon-container .mat-icon{
        color: #9231f2;
        font-size: 20px;
    }
    .policy-container .content-container .heading-container{
        margin-left: 0 !important;padding-left: 0 !important;
    }
    .policy-container .content-container .heading-container h3{
        font-size:22px;text-align: left;font-weight: 500;letter-spacing: 1px;margin-left: 0;
    }
    .policy-container .content-container .heading-container p{
        margin-left: 0;margin-bottom: 35px;
    }
}